body{
    margin: 30px;
}
fieldset {
   margin: 20px;
   margin-top: 50px;
   width: 600px;
   padding: 10px;
   background-color: #CCCCFF;
   border-radius: 10px;
   /* color: white; */
}
legend {
    font-size: 20px;
    display: block;
    background-color: white;
    border-radius: 4px;
    border: 1px solid gray;
}

header strong {
    font-size: 1.5em;
    font-family:'Lucida Sans','Lucida Sans Unicode',sans-serif;
    color: rgb(70, 78, 84);
    margin: 0em;

}
header em {
    font-size: 1.7em;
    color: blue;
    margin: 0em;
}
header sup{
    font-size:1em;
    color: rgb(110, 60, 247);
}
header span{
    border: 0px;
    margin: 0em;
    padding-top: 0;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
}
.col-25{
    float: left;
    width: 17%;
    margin-top: 6px;
}
.col-75 {
    float: left;
    width: auto;
    margin-top: 6px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  input[type=text], select, textarea,option {
    width: auto;
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    font-weight: bold;
    padding: 8px 8px 8px 0;
    display: inline-block;
  }

  .btn {
    background-color: pink;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
  a{
    color: red;
  }

  
